body,
html {
  background-color: #F5F5F5;
}

.ui.table thead th {
  background-color: #E95420;
}

.ui.segment {
  padding: 0 !important;
}

.ui.celled.grid>.row>.column {
  padding: 0 !important;
}

.padd {
  padding: 0 40px !important;
}

.Spadding {
  padding: 2rem !important;
}

.pane {
  background-color: transparent !important;
}